<h2> 2. Exploratory Data Analysis </h2>

Now, I will explore the MiniBooNE data set.

In [2]:
import pandas as pd

In [3]:
#Get data from the parquet file
df = pd.read_parquet('data/miniboone.parquet')

In [4]:
#Get the shape of the data & take a look at first 5 rows
print(df.shape)
df.head()

(130064, 51)

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C42,C43,C44,C45,C46,C47,C48,C49,C50,particle
0,2.59413,0.468803,20.6916,0.322648,0.009682,0.374393,0.803479,0.896592,3.59665,0.249282,...,-31.3730,0.442259,5.86453,0.000000,0.090519,0.176909,0.457585,0.071769,0.245996,1
1,3.86388,0.645781,18.1375,0.233529,0.030733,0.361239,1.069740,0.878714,3.59243,0.200793,...,45.9597,-0.478507,6.11126,0.001182,0.091800,-0.465572,0.935523,0.333613,0.230621,1
2,3.38584,1.197140,36.0807,0.200866,0.017341,0.260841,1.108950,0.884405,3.43159,0.177167,...,-11.5608,-0.297008,8.27204,0.003854,0.141721,-0.210559,1.013450,0.255512,0.180901,1
3,4.28524,0.510155,674.2010,0.281923,0.009174,0.000000,0.998822,0.823390,3.16382,0.171678,...,-18.4586,0.453886,2.48112,0.000000,0.180938,0.407968,4.341270,0.473081,0.258990,1
4,5.93662,0.832993,59.8796,0.232853,0.025066,0.233556,1.370040,0.787424,3.66546,0.174862,...,42.9600,-0.975752,2.66109,0.000000,0.170836,-0.814403,4.679490,1.924990,0.253893,1

The data set has 130064 rows and 51 columns, the last one being the particle (target) whereas the rest are the 50 particle ID columns (features).

From the data set information and the first notebook, we know that there are 36499 electron neutrinos (designated as 1's) and 93565 muon neutrinos (designated as 0's).

In [7]:
print("Number of electron neutrinos: ", len(df[df["particle"]==1]))
print("Number of muon neutrinos: ",len(df[df["particle"]==0]))

Number of electron neutrinos:  36499
Number of muon neutrinos:  93565